.dashboard {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .dashboard__btn {
    padding: 10px;
    font-size: 18px;
    margin-top: 10px;
    border: none;
    color: white;
    background-color: black;
  }
  .dashboard div {
    margin-top: 7px;
  }

  .collection{
    border-top: 1px solid #4c4c59;
    height: 90vh;
  }

  .card{
    border: none !important;
  }

  .card:hover img{
    transform: scale(2, 2) !important;
    z-index: 10;
    transition: 0.5s;
  }

  .nameLabel{
    background-color: var(--main-background);
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  }