.stats{
    background-color: var(--main-background);
    padding: 20px;
    border-radius: 5px;
}

.name{
    text-align: left;    
    position: relative;
    display: block;
}

.cardInCollection{
    background-color: var(--main-color);
    color: white;
    padding-top: 1px;
    height: 25px;
    width: 25px;
    position: absolute;
    border-radius: 50%;
}

.shareBtn{
    margin-left: 10px;
}

.nameLabel{
    background-color: var(--main-background);
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.card{
    background-color: var(--main-background) !important;
}